
<!--{% block title %} polls questions {% endblock %}-->


<!--{% block content %}-->

<!--{% for q in latest_question_list %}-->
<!--    <p>{{q.question_text}} <span style="margin-left: 50px">{{q.pub_date}}</span></p>-->
<!--{% endfor %}-->
<!--{% endblock  %}-->

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
<!--    /polls/{{ question.id }}/-->
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}